<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myassistant.User">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Assistant">
        <activity android:name=".AssistantProfileRequest"></activity>
        <activity android:name=".orderHistoryDetails" />
        <activity android:name=".OrderHistoryList" />
        <activity android:name=".EditProfile" />
        <activity android:name=".aboutus" />
        <activity android:name=".AssistantProfile" />
        <activity android:name=".OrderDetails" />
        <activity android:name=".AssistantList" />
        <activity android:name=".FeedBack" />
        <activity
            android:name=".MyAssistantHomeActivity"
            android:label="@string/title_activity_my_assistant_home"
            android:theme="@style/Theme.My_Assistant.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyTheme">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>